* {
    box-sizing: border-box;
   }

*,  *: before, *: after{
  box-sizing:inherit;
   }


body {
  max-width: 720px;
  margin: 0 auto;
}

.header {
    background-color: #000;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    max-width: auto;
}

.page-wrap {
  align-content: center;
}

h1, h2, h3, h4 {
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 200%;
  line-height: 1.2em;
}

h2 {
  color: #fff;
  font-size: 150%;
  text-align: center;
  font-weight: lighter;
}

h3{
  color: #000;
  margin: auto;
  align-content: center;
  padding: 10px 0;
}

h4{
  color: blue;
  font-size: 100%;
  text-align: center;
  font-weight: lighter;
}


.state-cards {
  align-content: center;
  overflow: auto;
}

.state {
  padding: 30px;
  float: absolute;
  position: relative;
}
